* {
    box-sizing: border-box;
}

.edit{
    position: relative;
    border: 1px solid #ebebeb;
}

.out{
    border: 1px solid #ebebeb;
}

.output{
    width: 100%;
    resize: none;
    font-family: "Times New Roman", Times, serif;
}

.editor {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    resize: none;
    margin-left: auto; 
    font-size: 16px;
    box-shadow: 0px 2px 4px 1px lightgrey;
    font-family: "Times New Roman", Times, serif;
    tab-size: 4;
}

textarea{
    background: #f7f7f7;
    color: #37474f;
    padding:20px 10px;
}

#content{
    padding: 2% 10% 1% 10%;
}

body,
html {
    font: 16px Arial;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 100%;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /*top: 150px;
    left: 150px;*/
    width: 250px;
    visibility: hidden;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*------------------------------------------------------------------
------------------------------------------------------------------*/

#nav{
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
}

#main{
    padding:80px 20px;
    width: 100%;
    z-index: -1;
}

.lang_selector{
    border: 1px solid #ebebeb;
    width: 60%;
    margin: 2px;
    height: 36px;
}

#left{
    position: fixed;    
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 420px;
    min-height: 130px;
    width: 20%;
    padding: 10px 5px;
    background: #f7f7f7;
    z-index: -1;
}

#middle{
    position: relative;
    left: 55%;
    transform: translateX(-55%);
    width: 60%;
}

#right{
    position: fixed;
    min-height: 250px;
    width: 16%;
    border-left: 4px solid #00bcd4;
    z-index: 200;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 15%;
    right: 5px;
    padding: 10px;
    z-index: -1;
}

#right p{
    margin: 5px;
    font-size: 13px;
    color: #212121;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#middle h1{
    margin-top: 0;
    font-size: 35px;   
    font-weight: normal;
}

#middle h1,#middle h2,#middle h3{
    font-weight: normal;
}

#middle p{
    line-height: 25px;
}

#left button{;
    margin: 0;
    padding: 5px;
    background-color: transparent;
    border:none;
}

.arrow{
    text-align: left;
}

button p{
    display: inline-block;
    margin: 0;
}

#left button:hover{
    color: #039be5;
    font-weight: bold;
}

button img{
    display: inline-block;
    vertical-align: middle;
    margin:0;
    opacity: 0.5;
}

button{
    margin: 0;
    cursor: pointer;
}

#right a,
#left a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.sub-content{
    position: relative;
    left: 20%;
    padding: 4px;
    display: block;
}

#right a:hover,
#left a:hover{
    color: #039be5;
    font-weight: bold;
}

#pc{
    display: block;
}

#lv{
    display: none;
}

#pe{
    display: none;
}

#right a{
    display: block;
    padding: 4px;
}

@keyframes hide{
    from{
        display: initial;
    }
    to{
        display: none;
    }
}

