<!DOCTYPE html>
<html>
<html lang="en">
<!--<meta charset="UTF-8">-->
 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../static/coding.png"/>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">
</head>

<body>

    <section id="nav">
        <table width="100%" style="box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.38);z-index: 100">
            <tr>
                <td style="padding-left: 20px" width="60%"><h3 style="margin: 0; font-weight: normal;">Google for Education > Python</h3></td>
                <td width="20%"><input style="width: 100%; margin: 2px" type="text" placeholder="Search"></input></td>
                <td width="20%" style="text-align: center;">
                    <select class="lang_selector">
                        <option>LANGUAGE</option>
                        <option>Hindi</option>
                        <option>English</option>    
                    </select>
                </td>
            </tr>
        </table>
    </section>

    <section id="main">
        <div id="left">
            <button class="arrow pc"><img src="../static/drop-down-arrow.png" width="20px" height="20px"><p>Python Course</p></button>
            <div id="pc">
                <a href="#" class="sub-content">Overview</a>
                <a href="#" class="sub-content">Python Set Up</a>
                <a href="#" class="sub-content">Introduction</a>
                <a href="#" class="sub-content">Strings</a>
                <a href="#" class="sub-content">Lists</a>
                <a href="#" class="sub-content">Sorting</a>
                <a href="#" class="sub-content">Dicts and Files</a>
                <a href="#" class="sub-content">Regular Expressions</a>
                <a href="#" class="sub-content">Utilities</a>
            </div>
            <button class="arrow lv"><img src="../static/drop-down-arrow.png" width="20px" height="20px"><p>Lecture Videos Day1, Day2</p></button>
            <div id="lv">
                <a href="#" class="sub-content">Overview</a>
                <a href="#" class="sub-content">Python Set Up</a>
                <a href="#" class="sub-content">Introduction</a>
                <a href="#" class="sub-content">Strings</a>
                <a href="#" class="sub-content">Lists</a>
                <a href="#" class="sub-content">Sorting</a>
                <a href="#" class="sub-content">Dicts and Files</a>
                <a href="#" class="sub-content">Regular Expressions</a>
                <a href="#" class="sub-content">Utilities</a>
            </div>
            <button class="arrow pe"><img src="../static/drop-down-arrow.png" width="20px" height="20px"><p>Python Exercise</p></button>
            <div id="pe">
                <a href="#" class="sub-content">Overview</a>
                <a href="#" class="sub-content">Python Set Up</a>
                <a href="#" class="sub-content">Introduction</a>
                <a href="#" class="sub-content">Strings</a>
                <a href="#" class="sub-content">Lists</a>
                <a href="#" class="sub-content">Sorting</a>
                <a href="#" class="sub-content">Dicts and Files</a>
                <a href="#" class="sub-content">Regular Expressions</a>
                <a href="#" class="sub-content">Utilities</a>
            </div>
        </div>



        <div id="middle">
            <h1>Python Set Up</h1>
            <p>This page explains how to set up Python on a machine so you can run and edit Python programs, and links to the exercise code to download. You can do this before starting the class, or you can leave it until you've gotten far enough in the class that you want to write some code. The Google Python Class uses a simple, standard Python installation, although more complex strategies are possible. Python is free and open source, available for all operating systems from python.org. In particular we want a Python install where you can do two things:</p>

            <ul>
                <li><p>Run an existing python program, such as hello.py</p></li>
                <li><p>Run the Python interpreter interactively, so you can type code right at it</p></li>
            </ul>

            <p>Both of the above are done quite a lot in the lecture videos, and it's definitely something you need to be able to do to solve the exercises.</p>

            <h2>Download Google Python Exercises</h2>
            <p>As a first step, download the google-python-exercises.zip file and unzip it someplace where you can work on it. The resulting google-python-exercises directory contains many different python code exercises you can work on. In particular, google-python-exercises contains a simple hello.py file you can use in the next step to check that Python is working on your machine. Below are Python instructions for Windows and all other operation systems:</p>

            <h2>Python on Linux, Mac OS X, and other OS</h2>
            <p>Most operating systems other than Windows already have Python installed by default. To check that Python is installed, open a command line (typically by running the "Terminal" program), and cd to the google-python-exercises directory. Try the following to run the hello.py program (what you type is shown in bold):</p>

            <div class="autocomplete" id="auto1">
                <a href="translate"></a><textarea method="post" class="editor" id="editor1" spellcheck="false">
paribasha get_odd_number(a):
    new=""
    jabtak(a!=0):
        d= poornaank (a%10)
        yadi(d!=0):
            new+= mala(d)
        a/=10
    bheje new
chapo(get_odd(8411046))

                </textarea>
            </div>
            <a href="code_transalte"></a><button id="edit1" class="edit" onclick="myFunction(this.id)">Translate</button>
            <a href="code_output"></a><button id="output1" class="out" onclick="myout(this.id)">Output</button>
            <fieldset><legend>Output</legend><a href="output"></a><textarea readonly="" rows="5" method="post" class="output" id="out1"></textarea></fieldset>

            <p>If python is not installed, see the Python.org download page. To run the Python interpreter interactively, just type python in the terminal:</p>

            <div class="autocomplete" id="auto2">
                <a href="translate"></a><textarea method="post" class="editor" id="editor2" rows="10" cols="60" spellcheck="false">
#         4
#       /   \
#      2     6
#     / \   / \
#    1   3|5   7


श्रेणी पत्ता:
    परिभाषा प्रारंभ(आत्म, जानकारी):
        आत्म.बायाँ = कुछनहीं
        आत्म.दायाँ = कुछनहीं
        आत्म.जानकारी = जानकारी

    # सम्मिलित पत्ता
    परिभाषा सम्मिलित(आत्म, जानकारी):
        यदि आत्म.जानकारी:
            यदि जानकारी < आत्म.जानकारी:
                यदि आत्म.बायाँ है कुछनहीं:
                    आत्म.बायाँ = पत्ता(जानकारी)
                वरना:
                    आत्म.बायाँ.सम्मिलित(जानकारी)
            याफिर जानकारी > आत्म.जानकारी:
                यदि आत्म.दायाँ है कुछनहीं:
                    आत्म.दायाँ = पत्ता(जानकारी)
                वरना:
                    आत्म.दायाँ.सम्मिलित(जानकारी)
        वरना:
            आत्म.जानकारी = जानकारी

    परिभाषा जड़_पहले_दौरा(आत्म, पत्ता):
        यदि नहीं पत्ता:
            भेजें
        आत्म.मिलें(पत्ता)
        आत्म.जड़_पहले_दौरा(पत्ता.बायाँ)
        आत्म.जड़_पहले_दौरा(पत्ता.दायाँ)

    परिभाषा जड़_क्रमी_दौरा(आत्म, पत्ता):
        यदि नहीं पत्ता:
            भेजें
        आत्म.जड़_क्रमी_दौरा(पत्ता.बायाँ)
        आत्म.मिलें(पत्ता)
        आत्म.जड़_क्रमी_दौरा(पत्ता.दायाँ)

    परिभाषा जड़_अंत_दौरा(आत्म, पत्ता):
        यदि नहीं पत्ता:
            भेजें
        आत्म.जड़_अंत_दौरा(पत्ता.बायाँ)
        आत्म.जड़_अंत_दौरा(पत्ता.दायाँ)
        आत्म.मिलें(पत्ता)

    परिभाषा मिलें(आत्म, पत्ता):
        छापो(माला(पत्ता.जानकारी) + "  ", अंत ='')


# पेड़ बनाएँ.
जड़ = पत्ता(4)
जड़.सम्मिलित(2)
जड़.सम्मिलित(1)
जड़.सम्मिलित(3)
जड़.सम्मिलित(6)
जड़.सम्मिलित(5)
जड़.सम्मिलित(7)

# दौरा.
छापो("***************** जड़_पहले दौरा ******************")
जड़.जड़_पहले_दौरा(जड़)
छापो()
छापो("***************** जड़_क्रमी दौरा ******************")
जड़.जड़_क्रमी_दौरा(जड़)
छापो()
छापो("***************** जड़_अंत दौरा ******************")
जड़.जड़_अंत_दौरा(जड़)


                </textarea>
            </div>
            <a href="code_transalte"></a><button id="edit2" class="edit" onclick="myFunction(this.id)" type="button">Translate</button>
            <a href="code_output"></a><button id="output2" class="out" onclick="myout(this.id)">Output</button>
            <fieldset><legend>Output</legend><a href="output"></a><textarea readonly="" rows="5" method="post" class="output" id="out2"></textarea></fieldset>


            <p>For Google's Python Class, it's best to use Python 2.7. Although Python 3.x is becoming more popular, this course is designed for Python 2.6 or later.</p>

            <h3>Execute Bit (optional)</h3>
            <p>The commands above are the simplest way to run python programs. If the "execute bit" is set on a .py file, it can be 
            run by name without having to type python first. Set the execute bit with the chmod command like this:</p>

            <div class="autocomplete" id="auto3">
                <a href="translate"></a><textarea method="post" class="editor" id="editor3" rows="10" cols="60" spellcheck="false">
~/google-python-exercises$ chmod +x hello.py
~/google-python-exercises$ ./hello.py   ## now can run it as ./hello.py
Hello World
                </textarea>
            </div>
            <a href="code_transalte"></a><button id="edit3" class="edit" onclick="myFunction(this.id)" type="button">Translate</button>
            <a href="code_output"></a><button id="output3" class="out" onclick="myout(this.id)">Output</button>
            <fieldset><legend>Output</legend><a href="output"></a><textarea readonly="" rows="5" method="post" class="output" id="out3"></textarea></fieldset>

        </div>




        <div id="right">
            <a href="#">Content</a>
            <a href="#">Python Progrma</a>
            <a href="#">Embedding</a>
            <a href="#">Strings</a>
            <a href="#">Split</a>
            <a href="#">Python Progrma</a>
            <a href="#">Embedding</a>
            <a href="#">Strings</a>
            <a href="#">Split</a>
        </div>
    </section>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.caret.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/textarea_rows.js"></script>
    
</body>

</html>
 